<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="InfraControl Agent"
    Manufacturer="InfraControl"
    Version="1.0.0"
    UpgradeCode="3E5625CE-B74E-4DC3-B756-B5F05A209640">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl="" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        SourceFile="$(var.MsiPath)"
        Compressed="yes" />
    </Chain>
  </Bundle>
</Wix>
